<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.meetmeetapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetMeetApplication">
        <activity android:name="org.techtown.meetmeetapplication.MypageActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.techtown.meetmeetapplication.RegisterActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.MainActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.DiaryWriteActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.AutoLoginActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.LoginActivity" android:exported="true"></activity>
        <activity android:name="org.techtown.meetmeetapplication.NicknameModifyActivity" android:exported="true"></activity>
    </application>

</manifest>